/*-- scss:rules --*/

#title-block-header {
  background-color: #f3e8ff !important;
  padding: 2em;
}

#title-block-header .title,
#title-block-header .subtitle,
#title-block-header .author,
#title-block-header .date {
  color: #3b2552 !important;
}