/*-- scss:rules --*/

.reveal {
  font-size: 24px;
}

.reveal h1 {
  font-size: 1.8em;
}

.reveal h2 {
  font-size: 1.4em;
}

.reveal h3 {
  font-size: 1.1em;
}

.reveal pre {
  font-size: 0.7em;
}

.reveal .mermaid {
  font-size: 0.8em;
}